version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "2080:80"
    volumes:
      - ./public:/usr/share/nginx/html
    networks:
      - portfolio-network

networks:
  portfolio-network:
    driver: bridge